body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    text-align: center;
}

header {
    background: #d32f2f;
    color: white;
    padding: 15px;
}

.menu {
    margin: 20px;
}

.menu button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
}

#game {
    margin-top: 20px;
}

/* Карточки */
.card {
    width: 80px;
    height: 80px;
    background: #ccc;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    margin: 6px;
    cursor: pointer;
    border-radius: 10px;
}

/* Лабиринт */
#maze {
    width: 220px;
    margin: auto;
}

.cell {
    width: 40px;
    height: 40px;
    display: inline-block;
    border: 1px solid #999;
}

.wall {
    background: black;
}

.player {
    background: blue;
}

.finish {
    background: green;
}
